streamlit>=1.36
streamlit-option-menu>=0.3.13
streamlit-folium>=0.22
folium>=0.15
deep-translator>=1.11
transformers>=4.41
torch>=2.2
sentencepiece>=0.2.0
accelerate>=0.30
pdfplumber>=0.11
reportlab>=4.0
fpdf>=1.7
bcrypt>=4.0
flask>=3.0
plotly>=5.20
PyJWT>=2.8
requests>=2.31